div {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Make the container fill the viewport height */

}
input{
  border-radius: 10px;
  background-color: black;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;

}
select{
  margin-top: 15px;
  border: 2px solid rgb(160, 133, 133);
  border-radius: 10px;
}
/* Add these CSS styles to your stylesheet */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.sc { position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
}
.amo{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-top: 15px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}